<%= form_for(@gantt_chart) do |f| %>
  <%= f.label 'Project Name' %>
  <div class='input-group input-group-lg'>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <%= f.label 'Project Start' %>
  <%= f.date_field :start, class: 'form-control', placeholder: 'Name' %>

  <%= f.label 'Project End' %>
  <%= f.date_field :end, class: 'form-control', placeholder: 'Name' %>

  <div class='row' style='margin-top:25px;'>
    <div class='col text-right'>
      <button class='btn btn-lg btn-primary' type='submit'>Submit</button>
    </div>
  </div>
<% end %>

